<%- include('partials/header.ejs'); -%>
<div>
    <div>
        <h1>Register </h1>
    </div>
    <div>
        <%if(locals.error_message){%>
            <h3><%=error_message%></h3>
        <%}%>
        
    </div>
    <form action="/newuser" method="post">
        <label for="username">Email</label>
        <input type="text" value="Type Username" name="username">
        <label for="passowrd">passowrd</label>
        <input type="password" name="password">
        <button type="submit" name="submit">Register</button>
    </form>
    <div class="col-sm-4">
        <div class="card social-block">
          <div class="card-body">
            <a class="btn btn-block" href="/auth/google" role="button">
              <i class="fab fa-google"></i>
              Sign Up with Google
            </a>
          </div>
        </div>
      </div>

</div>
<%- include('partials/footer.ejs'); -%>